.about-us {
    text-align: center;
    margin: 20px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    margin: 20px;
  }
  
  .team-member-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .team-member h2 {
    margin-bottom: 5px;
  }
  
  .team-member h3 {
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .team-member p {
    max-width: 400px;
    margin: 0 auto;
  }
  